[Desktop Entry]
Type=Service
Name=MEO Cloud
X-KDE-ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;inode/directory;
X-KDE-Library=dolphin-meocloud-plugin
