[Desktop Entry]
Type=Application
Name=MEO Cloud
Terminal=false
Type=Application
Icon=/opt/meocloud/gui/icons/meocloud.svg
Exec=/usr/bin/meocloud-gui
Categories=Network;FileTransfer;
