[Desktop Entry]
Type=Application
Name=OI Cloud
Terminal=false
Type=Application
Icon=/opt/oicloud/gui/icons/oicloud/meocloud.svg
Exec=/usr/bin/oicloud-gui
Categories=Network;FileTransfer;
